PUBLIC_SUPABASE_URL=https://upajaaztxuldkqocjjse.supabase.co
PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:izobov9@gmail.com
CRON_SECRET=
